:root {
  --primary-color-bg: #ffffff;
  --primary-text-color: #757575;
  --primary-black-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-dark-bg-color: #2f303a;
  --secondary-light-bg-color: #f5f4fa;
  --color-active-btn: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}
body {
  background: var(--primary-color-bg);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.7;
  font-size: 14px;
  color: var(--primary-black-color);
}
.lists {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link:focus,
.link:hover {
  color: var(--accent-color);
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.nav-link,
.logo-header {
  color: var(--primary-black-color);
}
.contact-link {
  color: var(--primary-text-color);
}
.current {
  color: var(--accent-color);
}

/* hero */
.hero {
  background: var(--secondary-dark-bg-color);
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--color-active-btn);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* features */
.feat-title {
  line-height: 1.14;
  text-transform: uppercase;
}
.feat-desc {
  color: var(--primary-text-color);
}

/* about */
.about-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* team */
.team {
  background: var(--secondary-light-bg-color);
}
.worker-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
.worker-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
/* footer */
.footer {
  background-color: var(--secondary-dark-bg-color);
}
.logo .logo-footer {
  color: var(--primary-white-color);
}
.address {
  font-style: normal;
}
.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--footer-link-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--primary-white-color);
}

/* Portfolio */
.filter-btn {
  background: var(--secondary-light-bg-color);
  color: var(--primary-black-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
}
.all-title {
  color: var(--primary-black-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-desc {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
